/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bootstrap/compass_twitter_bootstrap";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

body {
  padding-top: 60px;
}

#expired {
  margin-bottom:50px;
  background-color:$errorBackground;
  border:1px solid $errorBorder;
  color:$errorText;

  ul {
    margin:0;
    padding:0;
    list-style-type: none;
  }

  .media {
    border-top:1px dotted $errorBorder;
    padding-top:15px;

    &:first-child {
      border:0;
      padding-top:0;
    }

    .label {
      width:100px;
      text-align:center;
    }
  }
}

#timeline {
  height:400px;
  overflow-y:hidden;
  position:relative;

  .t-month {
    position:relative;

    & > i {
      position:absolute;
      left:80px;
      bottom:0;
      border-bottom:1px solid #EEE;
      width:600px;
    }
  }

  .date {
    padding-top:20px;

    span {
      display: block;
      text-align: right;
    }

    .year {
      font-size:46px;
      letter-spacing:0;
      line-height:46px;
      font-weight:bold;
      color:#EEE;
    }
    .month {
      font-size:26px;
      line-height:16px;
      letter-spacing:1px;
      color:#CCC;
    }
  }

  .payments > ul {
    min-height:80px;
    margin:0;
    padding:30px 0 60px 20px;
    list-style-type: none;
    border-left:1px solid #EEE;

    .paid {
      @include opacity(0.2);
    }
    .to-be-paid {
      .label {
        visibility: hidden;
      }
    }

    .media {
      border-top:1px solid #EEE;
      padding-top:15px;

      &:first-child {
        border:0;
        padding-top:0;
      }
    }
  }

  .label {
    width:60px;
    text-align: center;
  }
}

#change_month {
  .select {
    width:110px;
    background-color:#FFF;
    background-image:none;
    text-align: left;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

    .caret {
      position:absolute;
      top:5px;
      right:10px;
    }
  }

  input {
    height:auto;
    width:50px;
  }
}